<%- include ('header') -%>
<main class="main">
    <div class="main__mobile-menu">
        <div class="overview-wrapper">
            <div class="overview">
                Overview
            </div>
        </div>
        <div class="structure-wrapper">
            <div class="structure">
                Structure
            </div>
        </div>
        <div class="surface-wrapper">
            <div class="surface">
                Surface
            </div>
        </div>
    </div>
    <section class="planet">
        <div class="planet__image-container">
            <img class="planet__image" src=<%= planets[strippedURL].images.planet %> alt="mercury">
        </div>
        <div class="planet__info-wrapper">
            <div class="planet__text-wrapper">
                <h1 class="planet__name"><%= planets[strippedURL].name %></h1>
                <p class="planet__info"><%= planets[strippedURL].overview.content %> </p>
                <p class="planet__source">Source: <a class="planet__hyperlink"
                        href=<%= planets[strippedURL].overview.source %>>Wikipedia</a><span></span></p>
            </div>
            <div class="planet__links-container">
                <div class="planet__buttons">
                    <span class="planet__buttons--number">01</span>
                    <a class="planet__link--overview" href=<%= planets.link %>>Overview</a>
                </div>
                <div class="planet__buttons">
                    <span class="planet__buttons--number">02</span>
                    <a class="planet__link--internal" href="#">Internal
                        structure</a>
                </div>
                <div class="planet__buttons">
                    <span class="planet__buttons--number">03</span>
                    <a class="planet__link--surface" href="mercury-0/surface">Surface geology</a>
                </div>
            </div>
        </div>
        <div class="planet__add-info">
            <div class="add-info__rotation">
                <span>Rotation Time</span>
                <p><%= planets[strippedURL].rotation %> </p>
            </div>
            <div class="add-info__evolution">
                <span>Revolution Time</span>
                <p><%= planets[strippedURL].revolution %> </p>
            </div>
            <div class="add-info__radius">
                <span>Radius</span>
                <p><%= planets[strippedURL].radius %> </p>
            </div>
            <div class="add-info__temp">
                <span>Average Temp.</span>
                <p><%= planets[strippedURL].temperature %> </p>
            </div>
        </div>
    </section>
</main>
<%- include ('footer') -%>